{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    /*"modules": true,*/
    "jsx": true
  },
  "globals": {
    "__DEV__": true,
    "__SERVER__": true
  },
  "rules": {
    "strict": [2, "global"],
    "indent": [2, 2],
    "quotes": [2, "single"],
    "no-unused-vars": false
  }
}
