/* common */
a {
  color: #4d4d4d;
  text-decoration: none;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

ol.list-inline,
ul.list-inline {
  padding: 0;
  margin: 0;
  display: inline-block;
}
p {
  padding: 0;
  margin: 0;
}

ol.list-inline > li,
ul.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.hide {
  display: none;
}

@font-face {
  font-family: qunarpad;
  src: url(/css/fonts/qunarpad.ttf);
}

/* common ui */
.footer {
  padding: 10px;
}

/* Homepage */
.channel {
}
.channel .tile {
  padding: 2px;
  box-sizing: border-box;
}
.channel .tile a {
  width: 100%;
  display: inline-block;
}
.bottom-nav {
  padding: 10px;
}
.soft {
  padding: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.soft a {
  color: #25a4bb;
}
.soft:after {
  font-family: 'qunarpad';
  content: 'F';
  display: inline-block;
  position: absolute;
  right: 5px;
}

/* About */
.navbar {
  background-color: #25a4bb;
  border-bottom: 1px solid #1b7a8b;
  height: 42px;
  line-height: 42px;
  color: #fff;
}
.navbar .back {
}
.navbar .back a {
  font: 1.5rem qunarpad;
  padding-left: 0.2em;
  line-height: 42px;
  color: #fff;
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.navbar .gohome a {
  color: #fff;
}
.navbar h1 {
  margin: 0;
  font-size: 1em;
}


.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}
